/* COLORS AND GENERAL STYLES*/
:root {
  --primary-color: #466365;
  /* Soft blue for primary actions */
  --secondary-color: #c5dff8;
  /* Light grey for backgrounds or secondary elements */
  --accent-color: #444444;
  /* Soft red for accents or highlights */
  --background-color: #fefdfd;
  /* White background */
  --text-color: #2a2a2a;
  /* Dark greyish blue for primary text */
  --button-color: #2a2a2a;
  /* Soft blue, similar to primary for button backgrounds */
  --button-text-color: #fefdfd;
  /* White text on buttons */
}

/* General Body Styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
}

/* Apply box-sizing to all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

/* NAVIGATION STYLING */
/* Hamburger Icon */
.hamburger {
  display: none; /* Hidden by default, will be displayed on mobile */
  font-size: 3rem; /* Icon size */
  background: none;
  border: none;
  cursor: pointer;
  color: var(--button-color);
  padding: 1rem; /* This should match the nav padding for alignment */
  margin-left: -1.5rem; /* If necessary, adjust this value to align the icon */
  /* Other styles */
}

/* Mobile menu style */
nav ul {
  display: flex; /* Flexbox layout for desktop */
}

/* Desktop menu style */
nav {
  box-sizing: border-box;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 1rem;
}

nav a {
  color: var(--primary-color);
  padding: 8px;
  text-decoration: none;
}

nav a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

/* Navigation base styles */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  position: relative;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 8px;
  color: #000;
}

/* Navigation dropdown styling */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  width: auto;
  box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: nowrap;
}

.dropdown-content li {
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  padding: 8px;
  color: var(--text-color); /* Use the text color variable */
}

.dropdown-content a:hover {
  color: var(--accent-color);
}


/* MAIN STYLING */
main {
  box-sizing: border-box;
  padding: 1rem;
}

/* card styling */
.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: left;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Mobile first: cards take full width */
  border: 1px solid #ccc;
  border-radius: 1rem;
  text-align: center;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  /* Add space below each card */
}

/* CSS for images inside cards */
.card img {
  width: 100%;
  /* Ensures the image is always full width of the card */
  height: auto;
  /* Maintains the aspect ratio */
  border-radius: 1rem 1rem 0 0;
  /* Rounded corners on top only */
}

.card-tags {
  display: flex;
  /* Aligns the paragraphs horizontally */
  flex-wrap: wrap;
  /* Allows items to wrap onto the next line */
  align-items: flex-start; /* Aligns items to the start of the container */
  gap: 0;
  /* Adds some space between each paragraph/label */
  padding: 0.5rem 0; /* Padding for top and bottom inside the container */
}

.card-tags p {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: .25rem .5rem;
  /* Adds padding inside each label */
  border-radius: 0.3rem;
  /* Rounded corners for the label look */
  font-size: .75rem;
  /* Adjust font size as needed */
  white-space: nowrap;
  /* Prevents the text from wrapping */
  margin: 0;
  margin-right: 0.25rem; /* Right margin for spacing between tags on the same line */
  /* Initially remove the margin */
  margin-bottom: 0.1rem;
  /* Smaller bottom margin to reduce vertical space between rows */
  flex: 0 0 auto; /* Prevents the tags from growing or shrinking */
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  /* Takes up all available space in the flex container */
}

.card h3 {
  text-align: left;
  margin: 0 0.5rem 1rem 1rem;
  font-size: 1.2rem;
}

.card p {
  text-align: left;
  margin: 0 0.5rem 1rem 1rem;
  color: #333;
  font-size: 1rem;
}

/* Card button styling */
.card a.btn {
  margin-top: auto; /* Pushes the button to the bottom if there is space */
  width: calc(100% - 1rem);
  /* Full width of the card minus horizontal padding */
  margin: 0 0.5rem 0.5rem;
  /* Aligns with the horizontal padding of text */
  padding: 1rem 0;
  /* Vertical padding, similar to the text */
  background-color: var(--button-color);
  /* No fill */
  border: 1px solid #ccc;
  /* Outline that matches the card */
  border-radius: 0.75rem;
  /* Matches the card's border-radius */
  color: var(--button-text-color);
  /* Button text color */
  text-align: center;
  /* Center the text inside the button */
  text-decoration: none;
  /* Remove underline from the link */
  font-size: 1rem;
  /* Match the text size */
}

.card a.btn:hover {
  background-color: var(--accent-color);
  /* Change to accent color on hover */
  text-decoration: none;
  /* Maintain no underline */
  color: var(--button-text-color);
  /* Adjust color as needed */
}

/* Hide the menu by default on mobile */
@media screen and (max-width: 48rem) {
  .hamburger {
    display: block; /* Show the hamburger icon */
  }
  
  nav ul {
    display: none; /* Hide the navigation menu */
    flex-direction: column; /* Stack items vertically */
    width: 100%; /* Full width */
  }
  
  /* You might also want to add styles for when the menu is toggled open */
  nav ul.show {
    display: flex;
  }
  
  /* Adjust the display of list items for mobile */
  nav ul li {
    display: block;
    text-align: left;
  }
}

/* Tablet view: max 2 cards per row */
@media (min-width: 48rem) and (max-width: 56rem) {

  /* 769px to 899px if 1rem = 16px */
  .card {
    width: calc(50% - 0.5rem);
  }
}

/* Desktop view: max 3 cards per row */
@media (min-width: 56rem) {

  /* 900px if 1rem = 16px */
  .card {
    width: calc(33.333% - (2rem / 3));
    max-width: 25rem;
  }
}